<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Conta</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!movimentos || movimentos.length === 0">
            <td colspan="8" style="text-align:center;">
                Não há movimentos cadastrados
            </td>
        </tr>
        <tr *ngFor="let movimento of movimentos">
            <td>{{ movimento.Codigo }}</td>
            <td>{{ movimento.Descricao }}</td>
            <td>{{ movimento.Categoria?.Descricao }}</td>
            <td>{{ movimento.Conta?.Descricao }}</td>
            <td>{{ movimento.TipoMovimento?.Descricao }}</td>
            <td>{{ movimento.Data }}</td>
            <td>{{ movimento.Valor }}</td>
            <td>
                <button (click)="editar($event, movimento)" type="button" class="btn btn-outline-info">Editar</button>
                <button (click)="excluir($event, movimento)" type="button" class="btn btn-outline-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <button (click)="incluir($event)" type="button" class="btn btn-outline-primary">Incluir</button>
    </div>
</div>