<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!contas || contas.length === 0">
            <td colspan="3" style="text-align:center;">
                Não há contas cadastradas
            </td>
        </tr>
        <tr *ngFor="let conta of contas">
            <td>
                {{ conta.Codigo }}
            </td>
            <td>{{ conta.Descricao }}</td>
            <td>
                <button (click)="editar($event, conta)" type="button" class="btn btn-outline-info">Editar</button>
                <button (click)="excluir($event, conta)" type="button" class="btn btn-outline-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <button (click)="incluir($event)" type="button" class="btn btn-outline-primary">Incluir</button>
    </div>
</div>