<nav *ngIf="!paginaInteira" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ nomeAplicativo }}</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a (click)="sair($event)" class="nav-link" href="#">Sair</a>
    </li>
  </ul>
</nav>

<div [ngClass]="{ 'container-fluid' : !paginaInteira }">
  <div [ngClass]="{ 'row' : !paginaInteira }">
    <nav *ngIf="!paginaInteira" class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li *ngFor="let item of listaNavegacao" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="item.Endereco">
              <span>
                <i class="material-icons md-18">{{ item.Icone }}</i> {{ item.Titulo }}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" [ngClass]="{ 'col-md-9 ml-sm-auto col-lg-10 pt-3 px-4' : !paginaInteira }">
      <div *ngIf="!paginaInteira" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ navegacaoAtual || 'Dashboard '}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <h1 class="h4 mes-atual">{{ mesAnoAtual?.Descricao || '--/--/--' }}</h1>
          <div class="btn-group mr-2">
            <button (click)="mesAnterior($event)" class="btn btn-sm btn-outline-secondary">Anterior</button>
            <button (click)="mesPosterior($event)" class="btn btn-sm btn-outline-secondary">Próximo</button>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>